@import "/css/constantes.css";

/* =====MOBILE===== */
#about-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-top :2% ;
    padding-bottom :2% ;
    background:white;
    position: relative;
    border-radius: 20px;
    width: 95%;
    left: 5%;
    margin: 20px 0 ;
    height: 400px
}
.text{
   width: 70%;
}
.text a{
    position: relative;
    top : 20px;
}
#about-sec h2{
    text-decoration: underline;

}
#about-sec img{
    border-radius: 50%;   
}
/* =====Only Mobile===== */
@media screen and (max-width: 768px) {
    #about-sec .text{
        display: block;         
    }   
}
/* =====DESKTOP===== */
@media screen and (min-width: 768px) {
    #about-sec{
        flex-direction: row-reverse;
        gap: 5%;
        
    }
    #about-sec h2{
        position: absolute;
        top: 0;
    }
    
}