#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

/* ===== FULL LEFT IMG ===== */
#carousel .hideLeft img {
  width: 400px;
  transition: width 1s;
}
#carousel .hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

/* ===== SECOND LEFT IMG ===== */
#carousel .prevLeftSecond img {
  width: 300px;
}
#carousel .prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
/* ===== PREVIOUS =====*/

/* ===== SELECTED IMG ===== */

/* ===== NEXT IMG ===== */

/* ===== NEXT RIGHT SECOND IMG ===== */

/* ===== FULL RIGHT IMG ===== */
