:root{  
    /* inspired variables */
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 35px;
    --tab-width: 120px;
    --transition: all 0.25s;
    /* navbar variables*/
    --clr-nav-link-hover: rgb(255, 255, 255);
    --clr-nav-link : rgb(0, 247, 255);
    --clr-shadow-nav :rgb(0, 247, 255) ;
    --clr-navbar-toggle-fa :rgb(0, 247, 255) ;
    /* JOB SECTION VARIABLES */
    --clr-selected-job-border : rgb(0, 255, 255);
    --clr-selected-job: rgb(0, 46, 53);
    /* FONTS SIZES */
    --size-h2:25px;
    --size-h3 : 18px;
    --size-body-font:16px; 
    /* FONTS COLORS*/
    --clr-font : #000000;
    --clr-h1 : #000000;
    --clr-h2 : #000000;
    --clr-h3 : #8e8e8e;  
    /* BACKGROUNDs*/
    --clr-background : #ffffff;
    --clr-navbar-back : rgb(0, 0, 0);  
}



