@import "./constantes.css";

/* =====mobile===== */
.intro{
    width: 100%;
}
/* =====Desktop===== */

    .intro {      
        position: relative;
        top: -75px;
        width: 100%;
        display: grid;
        place-content: CENTER;
        overflow: hidden;
        height: 90vh;
     }
    .intro-container {
        background: rgba(255, 255, 255, 0.5) ;
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        height: 150px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .intro-text p{
        font: bold;
        font-size: 30px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }   

