@import "./constantes.css";

/* =====BTN PART===== */
#experience-sec h2 {
    size: 20px;
    color: rgb(255, 255, 255);
    
    height: max-content;
    
}

#experience-sec {
    display : block;
   position: relative;
   border-radius: 20px;
    width:max-content;
    max-width: 95%;
    background: #153145;
    list-style: none;
    height: 400px;
    
}
#experience-sec h2{
    position: relative;
    font-size: 40px;
    left: 4%;
}

.job-panel-container{ 
    width: 600px;
    position: relative;
    z-index: 3;
    padding: 0;
    margin:0;
    left: 3%;
}
.jobs-styledTabList{
    position: relative;
    z-index: 2;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
}
.jobs-styledTabButton{
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
    text-decoration: none;
    position: relative;
    transition: var(--transition);
    display: flex;     
    align-items: center;
    width: max-content;
    height: var(--tab-height);
    padding: 0px 20px 2px;
    border-top: 2px solid rgb(108, 107, 111);
    background-color: transparent;
    color: rgb(128, 128, 128);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: bold;
}
.jobs-styledTabButton:hover {
    background-color: black;
    width: max-content;
    color: white;
}
.selected-job{
    background: var(--clr-selected-job);
    width: max-content;
    color: var(--clr-selected-job-border);
    border-top:2px solid var(--clr-selected-job-border);  
}
/* =====TEXT PART===== */
.job-styledTabPanels{
    position: relative;
    width: 50%;
    margin-left: 20px;
    display: flex; 
}
.job-styledTabText{  
    visibility: hidden;
   
    width: 340px;
    height: auto;
    padding: 10px 5px; 
    position: relative;   
}
.active-panel{
    position: absolute;
    min-width: 340px;
    max-width:max-content;
    visibility: visible;
    top: 40px;
}
/* =====DESKTOP===== */
@media (min-width: 768px){
    #experience-sec {
        position: relative;
        display : flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        width: 95%;
        background: #153145;
    }
    #experience-sec h2{
        padding-left: 10px;
    }
    /* =====BTN PART===== */
    .job-panel-container{
        position: relative;
        min-height: 340px;
        display: flex;
        z-index: 0; 
        top: 15%;
        left: 10%;
        scale: 1.1;

        
    }
    .jobs-styledTabButton{
        border-left: 2px solid rgb(84, 84, 84);
        border-top:none;
    }
    .jobs-styledTabList{
        display: block;
    }
    .selected-job{
        border-left: 2px solid var(--clr-selected-job-border);
        background: var(--clr-selected-job);
    }
    /* =====TEXT PART===== */
    .active-panel{
      position: absolute; 
      top: 0; 
      color: rgb(179, 178, 178);
    }

    .active-panel a {
        text-decoration: none;
    }
    
    .active-panel li{
        color: rgb(179, 178, 178);
    }
    .job-styledTabText{
        position: absolute;
        width: 100%;
        top:0;
    }
}
