@import "./constantes.css";

/* =====BTN PART===== */


#experience-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-panel-container{
    
    width: 600px;
    position: relative;
    z-index: 3;
    padding: 0;
    margin:0;
    
   
    
    

}
.jobs-styledTabList{
    position: relative;
    z-index: 2;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
   
}
.jobs-styledTabButton{
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
    text-decoration: none;
    position: relative;
    transition: var(--transition);
    display: flex;     
    align-items: center;
    width: max-content;
    height: var(--tab-height);
    padding: 0px 20px 2px;
    border-top: 2px solid rgb(108, 107, 111);
    background-color: transparent;
    color: black;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}
.jobs-styledTabButton:hover {
    background-color: black;
    width: max-content;
    color: white;
}
.selected-job{
    background: var(--clr-selected-job);
    width: max-content;
    color: var(--clr-selected-job-border);
    border-top:2px solid var(--clr-selected-job-border);
    
}
/* =====TEXT PART===== */
.job-styledTabPanels{
   
    position: relative;
    width: 50%;
    margin-left: 20px;
    display: flex;
    
}
.job-styledTabText{
    
    visibility: hidden;
    max-width: max-content;
    width: 340px;
    height: auto;
   padding: 10px 5px;
    padding: 10px 5px; 
    position: relative;   
}


.active-panel{
  
    position: absolute;
    min-width: 340px;
    max-width:max-content;
    visibility: visible;
    top: 40px;

}

/* =====DESKTOP===== */

@media (min-width: 768px){

    /* =====BTN PART===== */
    .job-panel-container{
        min-height: 340px;
        display: flex;
        z-index: 0;
        
    }
    .jobs-styledTabButton{
        border-left: 2px solid var(--lightest-navy);
        border-top:none;
    }
    .jobs-styledTabList{
        display: block;
    }
    .selected-job{
        border-left: 2px solid var(--clr-selected-job-border);
        background: var(--clr-selected-job);
    }
    /* =====TEXT PART===== */
    .active-panel{
      position: absolute; 
    }
    .job-styledTabText{
        width: max-content;
        top: 0;
    }
}