@font-face {
    font-family: 'robotoMono';
    src: url('/fonts/RobotoMono-Italic-VariableFont_wght.ttf'), url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ====== VARIABLES ====== */
:root{  
    --clr-mainpurple : rgb(204, 0, 255);
    /* BACKGROUNDs*/
    --clr-background : rgb(54,67,0,0);
 
    /* FONTS colors */
    --clr-font : rgb(136,146,176);
    --clr-h1 : rgb(217, 0, 255);
    --clr-h2 : #CCD6F6;
    --clr-h3 : rgb(136,146,176);   
    /* FONTS SIZES */

    --size-h2:25px;
    --size-h3 : 18px;
    --size-body-font:16px;
}
/* ===== Smooth Scroll === */
html{
    scroll-behavior: smooth;
    overflow: auto;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
/* ===== GLOBAL STYLE ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}
body {
    font-family: "robotoMono", sans-serif;
    background: var(--clr-background);
     
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: robotoMono;
    
}
main{
    display: block;
    z-index: 0;
    overflow: hidden;
    position: relative;
    left: 10%;
    margin: 3%;   
}
section {
   
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;  

} 
#about-sec img{
    border-radius: 20px;
    
}
@media screen and (max-width: 768px){
  main{
    top: -100px;
  }
}
h1{
    color: var(--clr-h1);
}
h2{
    color: var(--clr-h2);
    font-size: 50px;
}
h3{
    color: var(--clr-h3);
}

p {
    color: var(--clr-h3);
}