/* ====== VARIABLES ====== */
:root{
    /* logo's color */
    --clr-mainpurple : rgb(168,0,210);

    /* BACKGROUND COLOR */
    --clr-background : rgb(255, 255, 255);
    /* navbar color */
    --clr-navbar-back : rgb(32,32,32); /* background color navbar*/
    --clr-font : rgb(210, 21, 197);
}


/* ===== Smooth Scroll === */
html{
    scroll-behavior: smooth;
    overflow: auto;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* ===== GLOBAL STYLE ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
    
  }
  
body {
    font-family: "Josefin Sans", sans-serif;
    background: var(--clr-background);
    color: antiquewhite;   
    scroll-behavior: smooth;
  }
  main{
    display: block;
    z-index: 0;
    overflow: hidden;
    position: relative;
    left: 10%;
    margin: 3%;

    
    
}
section {
    border: 2px red solid;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
  
  
  
@media screen and (max-width: 768px){
  main{
    top: -100px;
  }
}