/* ====== VARIABLES ====== */
:root{  
    --clr-mainpurple : #00e1ff;
    /* BACKGROUNDs*/
    --clr-background : #001440;
    --clr-navbar-back : var(--clr-background); /* background color navbar*/
    /* FONTS */
    --clr-font : #04AEC4;
    --clr-h1 : #6493FA;
    --clr-h2 : #345AAD;
    --clr-h3 : #afb8be;   
}


/* ===== MOBILE and main style NAVBAR ===== */
.navbar {
    font-size: 18px;   
    padding-bottom: 10px;
   
  }

  
  .main-nav {
    list-style-type: none;
    visibility: hidden;
   
    
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: var(--clr-font);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
    
  }
  
  .logo-mobile {
    display: inline-block;

   
    margin-left: 10px;
    position: fixed;
    z-index: 6;

  }

  
 
  
  
  .navbar-toggle {
    position: fixed;
    display: inline-block;
    top: 13px;
    right: 15px;
    cursor: pointer;
    color: var(--clr-mainpurple);
    font-size: 24px;
    z-index: 1;
  }
  
  @media screen and (max-width:768px){
  .active  {
   
    display: grid;
    place-items: center;
     visibility: visible;
     position: fixed;
     transform: (-50% -50%);
     z-index: 1;
     background: var(--clr-background);
     width: 100%;
     height: 100vh;
     transition: 1s;
     
     border-radius: 20px;
     backdrop-filter: blur(50%);
     font-size: 50px;
     
  }
 
  .logo-hidden{
    visibility: hidden;
  }
}
 


/* ===== NAVBAR DESKTOP===== */

@media screen and (min-width: 768px) {
    .logo-mobile{
        top: 0px; 
        position: absolute;
        left: 10px;
    }
    #link-btn{
        visibility: hidden;
    }   
    .navbar {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0;
      top: 0;
      position: fixed;
      height: 70px;
      width: 100%;
      align-items: center;
      transition: 0.5s;
      z-index: 2;
      background-color: var(--clr-navbar-back);
    }
  
    .main-nav {
       display: flex;
       margin-right: 30px;
       justify-content: flex-end;
       visibility: visible;
      
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
 
  
    .navbar-toggle {
      display: none;
    }
  
   
    .nav-links:hover {
      color: var(--clr-mainpurple);
     
      
    }
    .shadow{
        box-shadow: 5px 5px 5px var(--clr-mainpurple);
    }
    
  }