/* ====== VARIABLES ====== */
:root{
    /* logo's color */
    --clr-mainpurple : rgb(204, 0, 255);

    /* BACKGROUND COLOR */
    --clr-background : rgb(42, 10, 47);
    /* navbar color */
    --clr-navbar-back : rgb(32,32,32); /* background color navbar*/
    --clr-font : rgb(210, 21, 197);
    --fzgz : rgb(42, 10, 47);
    
}


/* ===== MOBILE and main style NAVBAR ===== */
.navbar {
    font-size: 18px;   
    padding-bottom: 10px;
  }

  
  .main-nav {
    list-style-type: none;
    visibility: hidden;
    
    
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
    
  }
  
  .logo-mobile {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    position: fixed;
    z-index: 6;
  }

  
  
  .navbar-toggle {
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    z-index: 1;
  }
  
  .active  {
   
     visibility: visible;
     position: absolute;
     top: 20%;
    
     transform: (-50% -50%);
     z-index: 5;
     background: var(--clr-background);
     width: 100%;
     height: 80%;
    
  }


/* ===== NAVBAR DESKTOP===== */

@media screen and (min-width: 768px) {
    .logo-mobile{
        top: 0px;
   
  
   
    position: absolute;
    left: 10px;
   

    }

    
    .navbar {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0;
      top: 0;
      position: fixed;
      height: 70px;
      width: 100%;
      align-items: center;
      transition: 0.5s;
      z-index: 2;
      background-color: var(--clr-background);
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      justify-content: flex-end;
    visibility: visible;
      
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
 
  
    .navbar-toggle {
      display: none;
    }
  
   
    .nav-links:hover {
      color: var(--clr-mainpurple);
     
      
    }
    .shadow{
        box-shadow: 5px 5px 5px black;
    }
    
  }