/* ====== VARIABLES ====== */
:root{
    /* logo's color */
    --clr-mainpurple : rgb(168,0,210);

    /* BACKGROUND COLOR */
    --clr-background : rgb(42, 10, 47);
    /* navbar color */
    --clr-navbar-back : rgb(32,32,32); /* background color navbar*/
    --clr-font : rgb(210, 21, 197);
    --fzgz : rgb(42, 10, 47);
}

/* ===== NAVBAR ===== */
/*===== hide mobile menu for desktop =====  */
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;

}


    
   

#navbar ul{
    display: flex;
    justify-content: center;
}
  /* Style the navbar links */
  #navbar a  {
    
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
  }

  
  #navbar a:hover:not(#resume-link, #logo) {
    
    color: var(--clr-mainpurple);
   
   
  }






