@import "/css/constantes.css";

* {
    box-sizing:border-box
}
#projects-sec{
    width: 95%;
    left: 4%;
    height: 600px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px ;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  justify-items: center;
  
}


/* Hide the images by default */
.mySlides {
    display: none;
    position: relative;
    
    border-radius: 20px;
    width: 80%;
    height: 600px;
    left: 10%;
  }
.mySlides a {
    position: relative;
    left: 15%;
    top: 10%;
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 7%;
  width: auto;
  padding: 20px;
  color: rgb(235, 7, 7);
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
@media screen and (min-width: 768px){
    .prev, .next{
        bottom: 15%;  
    }
}

/* Position the "next button" to the right */
.next {
  right: 14%;
  border-radius: 3px 0 0 3px;
}
.prev {
    left: 14%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
#project-sec .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  width: 100%;  
}
.slideshow-container h3{
    color: black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 2%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(143, 143, 143);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  
}

.active-slide, .dot:hover {
  background-color: #717171;
  
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}