@import "/css/constantes.css";

* {
    box-sizing:border-box
}
#projects-sec{
    width: 95%;
    left: 4%;
    height: 400px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px ;
}
@media screen and (min-width: 768px){
    #projects-sec{
        height: 600px;
    }
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 400px;
  position: relative;
  margin: auto;

  
}


/* Hide the images by default */
.mySlides {
    display: none;
    position: relative;
    border-radius: 20px;
    width: 80%;
    height: max-content;
    left: 10%;

  }
.mySlides a {
    position: relative;
    left: 15%;
    top: 10%;
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 7%;
  width: auto;
  padding: 20px;
  color: rgb(235, 7, 7);
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
@media screen and (min-width: 768px){
    .prev, .next{
        bottom: 35%;  
    }
}

/* Position the "next button" to the right */
.next {
    right: 14%;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 14%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
#projects-sec .text {
    color: #000000;
    font-size: 15px;
    display: flex;
    justify-content: center;
    

}
.slideshow-container h3{
    color: black;
    
}
.description-proj{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background: rgba(69, 69, 69, 0.614);
    color: white;
}
/* The dots/bullets/indicators */
.dot-container{
    position: absolute;
    bottom: 5%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(143, 143, 143);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}

.active-slide, .dot:hover {
  background-color: #717171;
  
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}