/* ====== VARIABLES ====== */
:root{
    /* logo's color */
    --clr-mainpurple : rgb(168,0,210);

    /* BACKGROUND COLOR */
    --clr-background : rgb(42, 10, 47);
    /* navbar color */
    --clr-navbar-back : rgb(32,32,32); /* background color navbar*/
    --clr-font : rgb(210, 21, 197);
    --fzgz : rgb(42, 10, 47);
}
/* ===== GLOBAL STYLE ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif ;
    scroll-behavior: smooth;
}

body{
    padding-top:100px;
   }

ul {
    list-style:none; 
}
a{
    text-decoration: none;
  }
main{
    display:flex;
    flex-direction: column;
   
    color: antiquewhite;
    top: 100px;
    
    position: relative;
    left: 15%;
    transform: (-50% -50%);
    
}
section{
    width: 70%;   
    justify-content: center;
    border: 1px solid red;
    padding: 40px;
}
section {
    display: block
}


