/* ====== VARIABLES ====== */
:root{
    /* logo's color */
    --clr-mainpurple : rgb(168,0,210);

    /* BACKGROUND COLOR */
    --clr-background : rgb(42, 10, 47);
    /* navbar color */
    --clr-navbar-back : rgb(32,32,32); /* background color navbar*/
    --clr-font : rgb(210, 21, 197);
    --fzgz : rgb(42, 10, 47);
}
/* ===== GLOBAL STYLE ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif ;
    scroll-behavior: smooth;
}


ul {
    list-style:none; 
}
a{
    text-decoration: none;
  }
main{
    display:block;
    
    color: antiquewhite; 
    
}
section{
   width: 70%; 
    position: sticky;
    border: 1px solid red;
    margin: 3%;
    padding: 1%;
}
section {
    display: block
}


