/* ====== VARIABLES ====== */
:root{
    /* logo's color */
    --clr-mainpurple : rgb(168,0,210);

    /* BACKGROUND COLOR */
    --clr-background : rgb(25,1,31);
}

/* ===== GLOBAL STYLE ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
body{
    overflow: hidden;
    background-color: --clr-background;
    color : antiquewhite;
    
}
ul {
    list-style:none;
  
}
a{
    text-decoration: none;
  }

section{
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

/* =========== navbar perso ===============*/

/* nav{
    background-color: black;
}
.navbar{
    display: flex;
   
}
.nav-list{
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  align-items: center;
}
/* au dessus de 800px */
/* @media only screen and (min-width: 800px){
    nav{
        visibility: hidden;
    }
    .nav-list{
        gap: 10%;
    }
}
    


  .nav-item{
    padding: 1em;
}

.nav-item a{
    color: antiquewhite;
}
.nav-item a:hover{
    color : var(--clr-mainpurple)
}
 
 */ 

/* ===== NAVBAR ===== */

@media screen and (min-width: 767px) {
    /*===== hide mobile menu for desktop =====  */
.menu_StyledMenu{
    visibility: hidden;
}
 
    /*  */

   
 
    

.navbar {
    background-color: #000000;
    overflow: hidden;   
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar a {
   
    display: flex;
    color: antiquewhite;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
        
  }
  
  .navbar a:hover {
    color: var(--clr-mainpurple);
  }
  
  .container {
    padding: 18px;
    margin-top: 35px;
    height: 2000px;
  }

#logo{
    position: left;
}

section {
    display: block
}

}
