/* ====== VARIABLES ====== */
:root{
    /* logo's color */
    --clr-mainpurple : rgb(168,0,210);

    /* BACKGROUND COLOR */
    --clr-background : rgb(25,1,31);
}

/* ===== GLOBAL STYLE ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
body{
    overflow: hidden;
    background-color: white;
    color: antiquewhite;
    
}
ul {
    list-style:none;
  
}
a{
    text-decoration: none;
  }

section{
    display: flex;
    justify-content: center;
}
/* =========== navbar ===============*/

nav{
    background-color: black;
}
.navbar{
    display: flex;
   
}
.nav-list{
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  align-items: center;
}
/* au dessus de 800px */
@media only screen and (min-width: 800px){
    .nav-list{
        gap: 10%;
    }
}
    


  .nav-item{
    padding: 1em;
}

.nav-item a{
    color: antiquewhite;
}
.nav-item a:hover{
    color : var(--clr-mainpurple)
}
 




/* ===== LOADER ===== */

.loader{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border:20px solid;
    border-top-color: var(--clr-mainpurple);
    border-bottom-color: var(--clr-mainpurple);
    border-right-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-radius: 50%;
    animation: spin 2s infinite linear;
}

@keyframes spin{
    from{
        transform: translate(-50%,-50%)
        rotate(0deg);;
    }
    to {
        transform: translate(-50%,-50%)
        rotate(360deg);
    }
    
}

/* ===== LOADER CONTAINER ===== */
.loader-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
}
  
  
/* ===== MOBILE MENU ===== */

@media only screen and (max-width: 799px){
    .nav-list{
        gap: 10%;
    }
}
